# Fingerprint access
allow system_server fingerprint_device:chr_file rw_file_perms;

# For touchscreen proc files
allow system_server proc_touchscreen:dir search;
allow system_server proc_touchscreen:file rw_file_perms;

# For sensor calibration files
allow system_server persist_file:dir rw_dir_perms;
allow system_server persist_file:file rw_file_perms;

# Consumer IR
allow system_server lirc_device:chr_file rw_file_perms;

# To improve app launch times - we would like to force all tasks to
# run on big cores for app launch (sched_boost) - instead of just
# boosting them to make it "more likely" to run on big cores.
allow system_server zygote:process setsched;
